USE [master]
GO
/****** Object:  Database [QLKS]    Script Date: 6/2/2019 6:08:27 PM ******/
CREATE DATABASE [QLKS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLKS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.BIENCUTE\MSSQL\DATA\QLKS.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLKS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.BIENCUTE\MSSQL\DATA\QLKS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKS]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADICHVU] [varchar](10) NOT NULL DEFAULT ('DV1111'),
	[TENDICHVU] [nvarchar](30) NULL,
	[GIATIEN] [int] NULL,
	[DEL] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [varchar](8) NOT NULL,
	[TENKHACHHANG] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](6) NULL,
	[SOCMT] [varchar](13) NULL,
	[SODIENTHOAIKH] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALOAI] [int] NOT NULL,
	[TENLOAI] [nvarchar](30) NULL,
	[GHICHU] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [varchar](8) NOT NULL,
	[PASS] [varchar](30) NULL,
	[HOTEN] [nvarchar](50) NULL,
	[CHUCVU] [nvarchar](20) NULL,
	[GIOITINH] [nvarchar](6) NULL,
	[AVATAR] [nvarchar](200) NULL,
	[NGAYSINH] [date] NULL,
	[SODIENTHOAI] [varchar](12) NULL,
	[DEL] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [varchar](9) NOT NULL,
	[TENPHONG] [varchar](10) NULL,
	[MALOAI] [int] NULL,
	[GIATHUE] [int] NULL,
	[SOTANG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUDUNGDICHVU]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUDUNGDICHVU](
	[MASD] [varchar](8) NOT NULL,
	[MATHUE] [varchar](8) NULL,
	[MADICHVU] [varchar](10) NULL,
	[NGAYSUDUNG] [date] NULL,
	[DONGIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THANHTOAN]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THANHTOAN](
	[MATHUE] [varchar](8) NOT NULL,
	[THANHTIEN] [int] NULL,
	[NGAYTHANHTOAN] [date] NULL,
	[NHANVIENGIAODICH] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THUEPHONG]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THUEPHONG](
	[MATHUE] [varchar](8) NOT NULL,
	[MAKHACHHANG] [varchar](8) NULL,
	[MAPHONG] [varchar](9) NULL,
	[NGAYVAO] [date] NULL,
	[NGAYRA] [date] NULL,
	[TRANGTHAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DICHVU] ([MADICHVU], [TENDICHVU], [GIATIEN], [DEL]) VALUES (N'DV2', N'Bim bim', 12000, 0)
INSERT [dbo].[DICHVU] ([MADICHVU], [TENDICHVU], [GIATIEN], [DEL]) VALUES (N'DV3', N'Lavie', 10000, 0)
INSERT [dbo].[DICHVU] ([MADICHVU], [TENDICHVU], [GIATIEN], [DEL]) VALUES (N'DV4', N'Pepsi', 12000, 0)
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [GIOITINH], [SOCMT], [SODIENTHOAIKH]) VALUES (N'KH12345', N'Trương Quang Hải', N'Nam', N'Thanh Hóa', N'0967125182')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [GIOITINH], [SOCMT], [SODIENTHOAIKH]) VALUES (N'KH12346', N'Trương Quang Hải', N'Nam', N'Thanh Hóa', N'0967125182')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [GIOITINH], [SOCMT], [SODIENTHOAIKH]) VALUES (N'KH12347', N'Trương Quang Hải', N'Nam', N'Thanh Hóa', N'0967125182')
INSERT [dbo].[LOAIPHONG] ([MALOAI], [TENLOAI], [GHICHU]) VALUES (1, N'Phòng Thường', N'Phòng gồm 1 giường đôi')
INSERT [dbo].[LOAIPHONG] ([MALOAI], [TENLOAI], [GHICHU]) VALUES (2, N'Phòng VIP', N'Phòng gồm 2 giường đôi')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [PASS], [HOTEN], [CHUCVU], [GIOITINH], [AVATAR], [NGAYSINH], [SODIENTHOAI], [DEL]) VALUES (N'1', N'1', N'Hà Thị Kim Biên', N'Quản Lý', N'Nữ', N'../img/1.png', CAST(N'1998-08-31' AS Date), N'0971293869', 0)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [PASS], [HOTEN], [CHUCVU], [GIOITINH], [AVATAR], [NGAYSINH], [SODIENTHOAI], [DEL]) VALUES (N'ADMIN', N'123456', N'Trương Quang Hải', N'Quản Lý', N'Nam', N'../img/1.png', CAST(N'1997-02-14' AS Date), N'0967125182', 0)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [PASS], [HOTEN], [CHUCVU], [GIOITINH], [AVATAR], [NGAYSINH], [SODIENTHOAI], [DEL]) VALUES (N'NV1234', N'1', N'Lê Văn A', N'Lễ Tân', N'Nam', N'../img/2.jpg', CAST(N'1997-05-14' AS Date), N'0967123456', 0)
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [MALOAI], [GIATHUE], [SOTANG]) VALUES (N'P201', N'Phòng 201', 1, 2000, 2)
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [MALOAI], [GIATHUE], [SOTANG]) VALUES (N'P202', N'Phòng 202', 1, 2200, 2)
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [MALOAI], [GIATHUE], [SOTANG]) VALUES (N'P203', N'Phòng 203', 1, 2200, 2)
INSERT [dbo].[SUDUNGDICHVU] ([MASD], [MATHUE], [MADICHVU], [NGAYSUDUNG], [DONGIA]) VALUES (N'SD1', N'TP12357', N'DV3', CAST(N'2019-05-24' AS Date), 10000)
INSERT [dbo].[SUDUNGDICHVU] ([MASD], [MATHUE], [MADICHVU], [NGAYSUDUNG], [DONGIA]) VALUES (N'SD2', N'TP12363', N'DV3', CAST(N'2019-05-24' AS Date), 10000)
INSERT [dbo].[THANHTOAN] ([MATHUE], [THANHTIEN], [NGAYTHANHTOAN], [NHANVIENGIAODICH]) VALUES (N'TP12353', 32000, CAST(N'2019-04-20' AS Date), N'1')
INSERT [dbo].[THANHTOAN] ([MATHUE], [THANHTIEN], [NGAYTHANHTOAN], [NHANVIENGIAODICH]) VALUES (N'TP12357', 45200, CAST(N'2019-06-02' AS Date), N'1')
INSERT [dbo].[THANHTOAN] ([MATHUE], [THANHTIEN], [NGAYTHANHTOAN], [NHANVIENGIAODICH]) VALUES (N'TP12358', 22000, CAST(N'2019-05-20' AS Date), N'1')
INSERT [dbo].[THUEPHONG] ([MATHUE], [MAKHACHHANG], [MAPHONG], [NGAYVAO], [NGAYRA], [TRANGTHAI]) VALUES (N'TP12350', N'KH12345', N'P201', CAST(N'2019-04-05' AS Date), CAST(N'2019-04-20' AS Date), 0)
INSERT [dbo].[THUEPHONG] ([MATHUE], [MAKHACHHANG], [MAPHONG], [NGAYVAO], [NGAYRA], [TRANGTHAI]) VALUES (N'TP12352', N'KH12347', N'P303', CAST(N'2019-04-05' AS Date), CAST(N'2019-04-20' AS Date), 0)
INSERT [dbo].[THUEPHONG] ([MATHUE], [MAKHACHHANG], [MAPHONG], [NGAYVAO], [NGAYRA], [TRANGTHAI]) VALUES (N'TP12353', N'KH12345', N'P301', CAST(N'2019-04-05' AS Date), CAST(N'2019-04-20' AS Date), 0)
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIPHONG] ([MALOAI])
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIPHONG] ([MALOAI])
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIPHONG] ([MALOAI])
GO
ALTER TABLE [dbo].[SUDUNGDICHVU]  WITH CHECK ADD FOREIGN KEY([MADICHVU])
REFERENCES [dbo].[DICHVU] ([MADICHVU])
GO
ALTER TABLE [dbo].[SUDUNGDICHVU]  WITH CHECK ADD FOREIGN KEY([MADICHVU])
REFERENCES [dbo].[DICHVU] ([MADICHVU])
GO
ALTER TABLE [dbo].[SUDUNGDICHVU]  WITH CHECK ADD FOREIGN KEY([MADICHVU])
REFERENCES [dbo].[DICHVU] ([MADICHVU])
GO
ALTER TABLE [dbo].[SUDUNGDICHVU]  WITH CHECK ADD FOREIGN KEY([MATHUE])
REFERENCES [dbo].[THUEPHONG] ([MATHUE])
GO
ALTER TABLE [dbo].[SUDUNGDICHVU]  WITH CHECK ADD FOREIGN KEY([MATHUE])
REFERENCES [dbo].[THUEPHONG] ([MATHUE])
GO
ALTER TABLE [dbo].[SUDUNGDICHVU]  WITH CHECK ADD FOREIGN KEY([MATHUE])
REFERENCES [dbo].[THUEPHONG] ([MATHUE])
GO
ALTER TABLE [dbo].[THANHTOAN]  WITH CHECK ADD FOREIGN KEY([MATHUE])
REFERENCES [dbo].[THUEPHONG] ([MATHUE])
GO
ALTER TABLE [dbo].[THANHTOAN]  WITH CHECK ADD FOREIGN KEY([MATHUE])
REFERENCES [dbo].[THUEPHONG] ([MATHUE])
GO
ALTER TABLE [dbo].[THANHTOAN]  WITH CHECK ADD FOREIGN KEY([MATHUE])
REFERENCES [dbo].[THUEPHONG] ([MATHUE])
GO
ALTER TABLE [dbo].[THANHTOAN]  WITH CHECK ADD FOREIGN KEY([NHANVIENGIAODICH])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[THANHTOAN]  WITH CHECK ADD FOREIGN KEY([NHANVIENGIAODICH])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[THANHTOAN]  WITH CHECK ADD FOREIGN KEY([NHANVIENGIAODICH])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[THUEPHONG]  WITH CHECK ADD FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[THUEPHONG]  WITH CHECK ADD FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[THUEPHONG]  WITH CHECK ADD FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[THUEPHONG]  WITH CHECK ADD FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[THUEPHONG]  WITH CHECK ADD FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[THUEPHONG]  WITH CHECK ADD FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD CHECK  (([GIOITINH]=N'Nam' OR [GIOITINH]=N'Nữ'))
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD CHECK  (([GIOITINH]=N'Nam' OR [GIOITINH]=N'Nữ'))
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD CHECK  (([GIOITINH]=N'Nam' OR [GIOITINH]=N'Nữ'))
GO
ALTER TABLE [dbo].[LOAIPHONG]  WITH CHECK ADD CHECK  (([MALOAI]>(0) AND [MALOAI]<(3)))
GO
ALTER TABLE [dbo].[LOAIPHONG]  WITH CHECK ADD CHECK  (([MALOAI]>(0) AND [MALOAI]<(3)))
GO
ALTER TABLE [dbo].[LOAIPHONG]  WITH CHECK ADD CHECK  (([MALOAI]>(0) AND [MALOAI]<(3)))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  (([GIOITINH]=N'Nam' OR [GIOITINH]=N'Nữ'))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  (([GIOITINH]=N'Nam' OR [GIOITINH]=N'Nữ'))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  (([GIOITINH]=N'Nam' OR [GIOITINH]=N'Nữ'))
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD CHECK  (([MALOAI]>(0) AND [MALOAI]<(3)))
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD CHECK  (([MALOAI]>(0) AND [MALOAI]<(3)))
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD CHECK  (([MALOAI]>(0) AND [MALOAI]<(3)))
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD CHECK  (([SOTANG]>(1) AND [SOTANG]<(6)))
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD CHECK  (([SOTANG]>(1) AND [SOTANG]<(6)))
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD CHECK  (([SOTANG]>(1) AND [SOTANG]<(6)))
GO
ALTER TABLE [dbo].[THUEPHONG]  WITH CHECK ADD CHECK  (([TRANGTHAI]=(0) OR [TRANGTHAI]=(1)))
GO
ALTER TABLE [dbo].[THUEPHONG]  WITH CHECK ADD CHECK  (([TRANGTHAI]=(0) OR [TRANGTHAI]=(1)))
GO
ALTER TABLE [dbo].[THUEPHONG]  WITH CHECK ADD CHECK  (([TRANGTHAI]=(0) OR [TRANGTHAI]=(1)))
GO
/****** Object:  StoredProcedure [dbo].[IUD_DICHVU]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IUD_DICHVU] (
@maDV VARCHAR(10),
@tenDV NVARCHAR(30),
@giaTien INT,
@Statement NVARCHAR(20)='' )
AS
BEGIN
	IF @Statement = 'Select'
	BEGIN
		SELECT * FROM dbo.DICHVU WHERE MADICHVU=@maDV
	END
	IF @Statement ='Insert'
	BEGIN
		INSERT INTO dbo.DICHVU
		VALUES  ( @maDV , -- MADICHVU - varchar(10)
			      @tenDV , -- TENDICHVU - nvarchar(30)
				  @giaTien , -- SOLUONG - int
				0  -- DEL - INT
				)
	END
	IF @Statement = 'Hide'
	BEGIN
		UPDATE dbo.DICHVU SET DEL=1 WHERE MADICHVU=@maDV
	END
	IF @Statement ='Show'
	BEGIN
		UPDATE dbo.DICHVU SET DEL=0 WHERE MADICHVU=@maDV
	END
	IF @Statement = 'Update'
	BEGIN
		UPDATE dbo.DICHVU SET TENDICHVU=@tenDV,GIATIEN=@giaTien WHERE MADICHVU=@maDV
	END
	IF @Statement='Delete'
	BEGIN
		DELETE FROM dbo.SUDUNGDICHVU WHERE MADICHVU =@maDV
		DELETE FROM dbo.DICHVU WHERE MADICHVU=@maDV
	END
END
UPDATE dbo.DICHVU SET TENDICHVU= N'3consoi' WHERE MADICHVU='DV0001'

GO
/****** Object:  StoredProcedure [dbo].[IUD_NHANVIEN]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IUD_NHANVIEN](
@maNV VARCHAR(8),
@hoTen NVARCHAR(50),
@chucVu NVARCHAR(20),
@gioiTinh NVARCHAR(6),
@avt NVARCHAR(200),
@NS DATE,
@SDT VARCHAR(12),
@Statement NVARCHAR(20)='' )
AS
BEGIN
	IF @Statement ='Select'
	BEGIN
		SELECT * FROM dbo.NHANVIEN WHERE MANHANVIEN= @maNV
	END
	IF @Statement='Insert'
	BEGIN
		INSERT INTO dbo.NHANVIEN
		VALUES  ( @maNV , -- MANHANVIEN - varchar(8)
		          '1' , -- PASS - varchar(30)
		          @hoTen , -- HOTEN - nvarchar(50)
		          @chucVu , -- CHUCVU - nvarchar(20)
		          @gioiTinh , -- GIOITINH - nvarchar(6)
		          @avt , -- AVATAR - varchar(200)
		          @NS , -- NGAYSINH - date
		          @SDT,  -- SODIENTHOAI - varchar(12)
				  0
		        )
	END
	IF @Statement ='Update'
	BEGIN
		UPDATE dbo.NHANVIEN 
		SET HOTEN=@hoTen,CHUCVU=@chucVu,GIOITINH=@gioiTinh,AVATAR=@avt,NGAYSINH=@NS,SODIENTHOAI=@SDT
		WHERE MANHANVIEN=@maNV
	END
	IF @Statement='Hide'
	BEGIN
		UPDATE dbo.NHANVIEN 
		SET DEL=1
		WHERE MANHANVIEN=@maNV
	END
	IF @Statement='Show'
	BEGIN
			UPDATE dbo.NHANVIEN 
		SET DEL=0
		WHERE MANHANVIEN=@maNV
	END
	IF @Statement ='Delete'
	BEGIN
		DELETE FROM dbo.THANHTOAN WHERE NHANVIENGIAODICH=@maNV
		DELETE FROM dbo.NHANVIEN WHERE MANHANVIEN=@maNV
	END
END


GO
/****** Object:  StoredProcedure [dbo].[PRO_SELECT_SOPHONG]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[PRO_SELECT_SOPHONG] @TANGSO INT
AS
BEGIN
	select count(TENPHONG) FROM PHONG WHERE SOTANG=@TANGSO
END
--LAY TEN PHONG


GO
/****** Object:  StoredProcedure [dbo].[PRO_SELECT_TENPHONG]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PRO_SELECT_TENPHONG] @TANGSO INT
AS
BEGIN
	select TENPHONG	 FROM PHONG WHERE SOTANG=@TANGSO
END


GO
/****** Object:  StoredProcedure [dbo].[PRO_SELECT_TENPHONG1]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[PRO_SELECT_TENPHONG1] @TANGSO INT
AS
BEGIN
	select TENPHONG	 FROM PHONG inner join THUEPHONG ON PHONG.MAPHONG=THUEPHONG.MAPHONG WHERE SOTANG=@TANGSO AND TRANGTHAI=1 
END
--LAY PHONG DANG THUE


GO
/****** Object:  StoredProcedure [dbo].[PROC_DoanhThuDichVu]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_DoanhThuDichVu] @fromDate DATE, @toDate DATE AS
BEGIN
	SELECT SUM(DONGIA) FROM dbo.SUDUNGDICHVU WHERE MATHUE IN(
	SELECT MATHUE FROM dbo.THANHTOAN WHERE NGAYTHANHTOAN BETWEEN @fromDate AND @toDate)
END

GO
/****** Object:  StoredProcedure [dbo].[PROC_DoanhThuPhong]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_DoanhThuPhong] @fromDate DATE, @toDate DATE AS
BEGIN
	SELECT SUM((thuePhong.DateDiff+1)*GIATHUE)
	FROM (SELECT * FROM THANHTOAN WHERE dbo.THANHTOAN.NGAYTHANHTOAN BETWEEN @fromDate AND @toDate) AS thanhToan 
	LEFT JOIN (SELECT *, DATEDIFF(day, NGAYVAO, NGAYRA ) AS 'DateDiff' FROM dbo.THUEPHONG) AS thuePhong ON thuePhong.MATHUE = thanhToan.MATHUE
	LEFT JOIN dbo.PHONG ON PHONG.MAPHONG = thuePhong.MAPHONG
END

GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_MADICHVU]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_INSERT_MADICHVU]
AS
BEGIN
	SELECT MADICHVU FROM DICHVU order by MADICHVU asc
END

--lay ten dich vu


GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_NHANVIEN]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_INSERT_NHANVIEN] @MANV VARCHAR(8),@PASS VARCHAR(30),@HOTEN NVARCHAR(50),@CHUCVU NVARCHAR(20),@GIOITINH NVARCHAR(6),@AVATAR NVARCHAR(200),@NGAYSINH DATE,@PHONE VARCHAR(12) --G.Hải sửa @avatar varchar --> nvarchar
AS
BEGIN
	INSERT INTO NHANVIEN VALUES(@MANV,@PASS,@HOTEN,@CHUCVU,@GIOITINH,N'../img/1.png',@NGAYSINH,@PHONE,0)
END


GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_THANHTOAN]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PROC_INSERT_THANHTOAN] @MATHUE VARCHAR(8),@THANHTIEN INT,@NGAYTHANHTOAN DATE, @NHANVIENGIAODICH VARCHAR(8)
AS
BEGIN
	INSERT INTO THANHTOAN VALUES(@MATHUE,@THANHTIEN,@NGAYTHANHTOAN,@NHANVIENGIAODICH)
END
--lay ma thue theo ten phong


GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_THEMDV]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PROC_INSERT_THEMDV] @MADICHVU VARCHAR(10),@TENDICHVU NVARCHAR(30),@GIATIEN INT
AS
BEGIN
	INSERT INTO DICHVU VALUES(@MADICHVU,@TENDICHVU,@GIATIEN,0)--G.Hải thêm 0
END

--lay ma dich vu


GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_TRANGTHAI]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_INSERT_TRANGTHAI] @MATHUE VARCHAR(8),@MAPHONG VARCHAR(9),@TRANGTHAI INT
AS
BEGIN
	insert into THUEPHONG(MATHUE,MAPHONG,TRANGTHAI) values(@MATHUE,@MAPHONG,@TRANGTHAI)
END

--tao update them thong tin thue phong


GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_AVATAR]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[PROC_SELECT_AVATAR] @MANHANVIEN VARCHAR(8)
AS
BEGIN 
	SELECT AVATAR FROM NHANVIEN WHERE MANHANVIEN=@MANHANVIEN
END

--tao thu tuc them trang thai


GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_CHUCVU]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[PROC_SELECT_CHUCVU] @MANHANVIEN VARCHAR(8)
AS
BEGIN 
	SELECT CHUCVU FROM NHANVIEN WHERE MANHANVIEN=@MANHANVIEN
END

--LAY AVATAR


GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_DONGIADV]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_SELECT_DONGIADV] @TENPHONG NVARCHAR(10)
AS
BEGIN
	select SUM(DONGIA) FROM SUDUNGDICHVU INNER JOIN THUEPHONG ON SUDUNGDICHVU.MATHUE=THUEPHONG.MATHUE INNER JOIN PHONG ON THUEPHONG.MAPHONG=PHONG.MAPHONG WHERE PHONG.TENPHONG=@TENPHONG and THUEPHONG.TRANGTHAI=1
END

GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_GIATIEN]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_SELECT_GIATIEN] @TENPHONG NVARCHAR(10)
AS
BEGIN
	select GIATHUE FROM PHONG WHERE TENPHONG=@TENPHONG
END 


GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_HOTEN]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[PROC_SELECT_HOTEN] @MANHANVIEN VARCHAR(8)
AS
BEGIN 
	SELECT HOTEN FROM NHANVIEN WHERE MANHANVIEN=@MANHANVIEN
END
--LAY CHUC VU NHAN VIEN 


GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_LOAIPHONG]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_SELECT_LOAIPHONG] @TENPHONG NVARCHAR(10)
AS
BEGIN
	select TENLOAI FROM PHONG INNER JOIN LOAIPHONG ON PHONG.MALOAI=LOAIPHONG.MALOAI WHERE TENPHONG =@TENPHONG
END


GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_MALOAIPHONG]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_SELECT_MALOAIPHONG] @TENPHONG NVARCHAR(20)
AS 
BEGIN 
	SELECT TENLOAI FROM LOAIPHONG INNER JOIN PHONG ON LOAIPHONG.MALOAI=PHONG.MALOAI WHERE PHONG.TENPHONG=@TENPHONG
END
--them dich vu



GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_MANHANVIEN]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_SELECT_MANHANVIEN] 
AS
BEGIN
	select manhanvien from nhanvien order by manhanvien asc
END
--THEM NHAN VIEN


GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_MASD]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PROC_SELECT_MASD] 
AS
BEGIN 
	SELECT MASD FROM SUDUNGDICHVU ORDER BY MASD ASC
END
--tong don gia dich vu 


GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_MATHUE]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_SELECT_MATHUE] @TENPHONG NVARCHAR(10)
AS
BEGIN
	SELECT MATHUE FROM THUEPHONG INNER JOIN PHONG ON THUEPHONG.MAPHONG=PHONG.MAPHONG AND PHONG.TENPHONG=@TENPHONG
END

select * from thanhtoan

--dua ngay lay so tien


GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_NGAYRA]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_SELECT_NGAYRA] @TENPHONG NVARCHAR(10)
AS
BEGIN
	SELECT NGAYRA FROM THUEPHONG INNER JOIN PHONG ON PHONG.MAPHONG=THUEPHONG.MAPHONG WHERE PHONG.TENPHONG=@TENPHONG
END


GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_NGAYVAO]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_SELECT_NGAYVAO] @TENPHONG NVARCHAR(10)
AS
BEGIN
	SELECT NGAYVAO FROM THUEPHONG INNER JOIN PHONG ON PHONG.MAPHONG=THUEPHONG.MAPHONG WHERE PHONG.TENPHONG=@TENPHONG
END


GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_PHONGDANGO1]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[PROC_SELECT_PHONGDANGO1] @TANGSO INT,@MAPHONG VARCHAR(10)
AS
BEGIN
	select tenphong from THUEPHONG INNER JOIN PHONG ON NGAYRA>=cast(getdate() as date) AND THUEPHONG.MAPHONG=PHONG.MAPHONG and THUEPHONG.TRANGTHAI=1 and PHONG.SOTANG=@TANGSO and phong.MAPHONG=@MAPHONG
END
--lay phong tra muon


GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_PHONGDANGTHUE]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_SELECT_PHONGDANGTHUE] @TANGSO INT
AS
BEGIN
	select tenphong from THUEPHONG INNER JOIN PHONG ON NGAYRA>=cast(getdate() as date) AND THUEPHONG.MAPHONG=PHONG.MAPHONG and THUEPHONG.TRANGTHAI=1 and PHONG.SOTANG= @tangso  order by tenphong
END
--lay phong tra muon 


GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_PHONGDANGTHUE1]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[PROC_SELECT_PHONGDANGTHUE1] @TANGSO INT,@MAPHONG VARCHAR(10)
AS
BEGIN 
	select tenphong from THUEPHONG RIGHT JOIN PHONG ON THUEPHONG.MAPHONG=PHONG.MAPHONG and THUEPHONG.TRANGTHAI=1 where THUEPHONG.MAPHONG is null and PHONG.SOTANG= @TANGSO and phong.MAPHONG=@MAPHONG
END
--lay phong dang o


GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_PHONGDATCOCTRUOC1]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[PROC_SELECT_PHONGDATCOCTRUOC1] @TANGSO INT,@MAPHONG VARCHAR(10)
AS
BEGIN
	SELECT TENPHONG FROM THUEPHONG INNER JOIN PHONG ON THUEPHONG.MAPHONG=PHONG.MAPHONG AND THUEPHONG.NGAYVAO>CAST(GETDATE() AS DATE) and THUEPHONG.TRANGTHAI=1 AND PHONG.SOTANG=@TANGSO and phong.MAPHONG=@MAPHONG
END
--lay ma nhan vien


GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_PHONGDATTRUOC]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_SELECT_PHONGDATTRUOC] @TANGSO INT
AS
BEGIN
	SELECT TENPHONG FROM THUEPHONG INNER JOIN PHONG ON THUEPHONG.MAPHONG=PHONG.MAPHONG AND THUEPHONG.NGAYVAO>CAST(GETDATE() AS DATE) and THUEPHONG.TRANGTHAI=1 AND PHONG.SOTANG= @tangso  order by tenphong
END
--lay phong dang thue


GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_PHONGTHUEMUON]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PROC_SELECT_PHONGTHUEMUON] @TANGSO INT
AS
BEGIN
	SELECT TENPHONG FROM THUEPHONG INNER JOIN PHONG ON THUEPHONG.MAPHONG=PHONG.MAPHONG AND THUEPHONG.NGAYRA<CAST(GETDATE() AS DATE) and THUEPHONG.TRANGTHAI=1  AND PHONG.SOTANG = @tangso order by tenphong
END
-- LAY PHONG DAT TRUOC


GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_PHONGTRAMUON1]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[PROC_SELECT_PHONGTRAMUON1] @TANGSO INT,@MAPHONG VARCHAR(10)
AS
BEGIN
	SELECT TENPHONG FROM THUEPHONG INNER JOIN PHONG ON THUEPHONG.MAPHONG=PHONG.MAPHONG AND THUEPHONG.NGAYRA<CAST(GETDATE() AS DATE) and THUEPHONG.TRANGTHAI=1  AND PHONG.SOTANG=@TANGSO  and phong.MAPHONG=@MAPHONG
END
--lay phong dat coc truoc


GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_SOPHONG]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_SELECT_SOPHONG] @NGAYTHANHTOAN DATE
AS
BEGIN
	SELECT COUNT(MATHUE) FROM THANHTOAN WHERE NGAYTHANHTOAN=@NGAYTHANHTOAN
END


GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_SOPHONG1]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_SELECT_SOPHONG1]
AS
BEGIN
	SELECT COUNT(MATHUE) FROM THANHTOAN
END


GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_TENDICHVU]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_SELECT_TENDICHVU]
AS
BEGIN
	SELECT TENDICHVU FROM DICHVU ORDER BY TENDICHVU ASC
END
--lay ma nhan vien


GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_TENKHACHHANG]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_SELECT_TENKHACHHANG] @tenphong NVARCHAR(20) AS
BEGIN
	SELECT TENKHACHHANG FROM dbo.THUEPHONG 
		LEFT JOIN dbo.PHONG ON PHONG.MAPHONG = THUEPHONG.MAPHONG 
		LEFT JOIN dbo.KHACHHANG ON KHACHHANG.MAKHACHHANG = THUEPHONG.MAKHACHHANG 
		WHERE TENPHONG LIKE @tenphong AND TRANGTHAI =1
END

GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_THEMDICHVU]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_SELECT_THEMDICHVU] @TENPHONG NVARCHAR(10),@MASD VARCHAR(8),@TENDICHVU NVARCHAR(80),@NGAYSUDUNG DATE
AS
BEGIN
	DECLARE @MATHUE VARCHAR(8)
	DECLARE @DONGIA INT 
	DECLARE @MADICHVU VARCHAR(8)
	SELECT @MADICHVU=MADICHVU FROM DICHVU WHERE TENDICHVU=@TENDICHVU
	select @MATHUE=MATHUE FROM THUEPHONG INNER JOIN PHONG ON THUEPHONG.MAPHONG =PHONG.MAPHONG WHERE PHONG.TENPHONG=@TENPHONG 
	SELECT @DONGIA=GIATIEN FROM DICHVU WHERE MADICHVU=@MADICHVU
	INSERT INTO SUDUNGDICHVU VALUES(@MASD,@MATHUE,@MADICHVU,@NGAYSUDUNG,@DONGIA)
END


GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_TONGTIEN]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_SELECT_TONGTIEN] @NGAYTHANHTOAN DATE
AS
BEGIN
	SELECT sum(THANHTIEN) FROM THANHTOAN WHERE NGAYTHANHTOAN = @NGAYTHANHTOAN
END


GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECT_TONGTIEN1]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_SELECT_TONGTIEN1] 
AS
BEGIN
	SELECT SUM(THANHTIEN) FROM THANHTOAN
END


GO
/****** Object:  StoredProcedure [dbo].[PROC_TLSOLUONGKHACH]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_TLSOLUONGKHACH] @fromDate DATE, @toDate DATE AS
BEGIN
	SELECT COUNT(*) FROM dbo.THANHTOAN WHERE NGAYTHANHTOAN BETWEEN @fromDate AND @toDate
END


GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_THUEPHONG]    Script Date: 6/2/2019 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PROC_UPDATE_THUEPHONG] @MAKHACHHANG VARCHAR(8),@NGAYVAO DATE,@NGAYRA DATE,@MATHUE VARCHAR(9)
AS
BEGIN 
	UPDATE THUEPHONG 
	SET MAKHACHHANG=@MAKHACHHANG, NGAYVAO=@NGAYVAO,NGAYRA=@NGAYRA
	WHERE MAKHACHHANG=NULL
END


GO
USE [master]
GO
